body{
    
    margin:0;
    background-color: antiquewhite;
    padding: 0;
    background: green !important;
    align-items: center;
}

.dois{
    background-color: aliceblue;
    margin: 0 auto; 
    margin-top: 20%; 
    margin-bottom: 15%;
    border-color: black;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
     width: fit-content; 
}



#tabela-listar {
    background-color: white;
    border: 2px solid black;
    display: table;
    margin: 40px auto;  
  width: 80%;         
  max-width: 1100px;
  border-collapse: collapse;
}

.table-wrap{ display:flex; justify-content:center; padding:30px 0; }
#tabela-listar{ width:auto; max-width:1000px; border-collapse:collapse; }
#tabela-listar th, #tabela-listar td{ padding:10px; border:1px solid #333; }


#container-listar{
    
    background-color: aliceblue;
    border-color: black;
    border-top-right-radius: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px auto 20px auto;
    padding: 20px;

}

